body {
  background-image: url(./background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header {
  justify-content: right;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 10vh;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  color: white;
  padding: 1em;
  
}

.App {
  text-align: center;
}

ul{
  list-style-type: none;
  line-height: 2;
}

.rules {
  margin: 0 auto;
  text-align: left;
  max-width: 500px;
}

button {
  background: #3498db;
  padding: 1em;
  outline: none;
  border: none;
  border-radius: 5px;
}

.ScroreBox {
  float: right;
  border: 2px solid black;
  text-align: left;
  max-width: 200px;
  margin: 2em;
  padding: 1em;
}

img {
  max-height: 400px;
  max-width: 400px;
}